{% extends 'base.html' %}



{% block app_content %}
  <div class="row">
    <div class="col-md-12 center">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img src="../static/images/0.jpg" alt="Placeholder" class="card-img">
      </div>
    </div> <!--ends col 4 for profile info-->


    <div class="col-md-8">
      <p>Hello, my name is Liam Rottkov. I am a software developer and enjoy using technology to solve problems. In 2017, I graduated from the University of Southern Maine with a degree in Business Administration and have since been working in the real estate industry. I made the decision to attend Coding Temple, a Boston-based coding boot camp, to learn to code and establish a new career for myself. When I'm not coding I enjoy spending time with my family, friends, roommates, and our three dogs and one cat. Some of my interests include music, movies, games, books, art, animals, sports, and traveling. I look forward to applying my skills in a professional environment that encourages growth and continuous learning. </p>
    </div> <!--ends col 8 for posts section-->

  </div> <!--ends row for info and posts section-->


{% endblock %}
